*{
  margin: 0;
  padding: 0;
}

body{
  max-height: 100vh;
  background-color: white ;
}

header{
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  height: 100px;
}

h1{
  font-family: Passion One, sans-serif;
  padding: 10px;
  font-size: 50px;
  font-variant: small-caps;
}

a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
a:hover{
  text-decoration: underline;
}

header p{
  font-family:Passion One;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

section p{
  font-family: Sriracha;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 10px;
}

.imagem{
   box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.397);
   background-size: cover;
  background-position: right center;
  background-attachment: fixed;
}

.imagem p{
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
  width: 300px;
}

#fundo1{
  background-image: url('imagens/background001.jpg');
}

#fundo2{
  background-image: url('imagens/background002.jpg');
 
}

footer{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}
  